---
# tasks/backup.yml
- name: Create backup directory
  file:
    path: /var/backups/matrix
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Create backup script for database
  template:
    src: backup_db.sh.j2
    dest: /usr/local/bin/backup_matrix_db.sh
    owner: root
    group: root
    mode: '0755'

- name: Set up backup cron job
  cron:
    name: "Daily Matrix backup"
    job: "/usr/local/bin/backup_matrix_db.sh"
    minute: "0"
    hour: "2"
    day: "*"
    month: "*"
    weekday: "*"

- name: Create backup script for configuration
  template:
    src: backup_config.sh.j2
    dest: /usr/local/bin/backup_matrix_config.sh
    owner: root
    group: root
    mode: '0755'

- name: Set up configuration backup cron job
  cron:
    name: "Daily Matrix config backup"
    job: "/usr/local/bin/backup_matrix_config.sh"
    minute: "30"
    hour: "2"
    day: "*"
    month: "*"
    weekday: "*"