---
# tasks/integrate_postgres_with_synapse.yml
- name: Find PostgreSQL pg_hba.conf file
  find:
    paths: /etc/postgresql
    patterns: pg_hba.conf
    recurse: yes
  register: pg_hba_files

- name: Ensure Synapse has correct permissions for PostgreSQL
  lineinfile:
    path: "{{ pg_hba_files.files[0].path }}"
    line: 'host {{ matrix_db_name }} {{ matrix_db_user }} 127.0.0.1/32 md5'
    regexp: '^host {{ matrix_db_name }} {{ matrix_db_user }} 127.0.0.1/32'
    backup: yes
  when: pg_hba_files.files | length > 0
  notify: Restart PostgreSQL

- name: Install psycopg2 Python library for PostgreSQL
  apt:
    name: python3-psycopg2
    state: present

- name: Restart PostgreSQL to apply changes
  systemd:
    name: postgresql
    state: restarted